.WorkspaceModal {
    background: #0C0C0C;
    min-height: 420px;
    height: fit-content;
    width: fit-content;
    min-width: 255px;
    border-radius: 14px;
    border: 1px solid #1D1D1D;
    padding: 20px;
}

.WorkspaceModalTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.WorkspaceIconBox {
    width: 31px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 8px;
}

.WorkspaceIcon {
    display: grid;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    background: #171718;
    border-radius: 8px;
}

.WorkspaceSearchBar {
    width: 220px;
    height: 36px;
    display: flex;
    align-items: center;
    background: #1B1C1E;
    mix-blend-mode: normal;
    border: 1px solid #1D1D1D;
    border-radius: 19.4937px;
}

.WorkspaceSearchInput {
    background: #1B1C1E;
    border: none;
    outline: none;
    width: 150px;
    height: 34px;
    color: white;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}