.Panel {
    width: 638px;
    min-height: 446px;
    border-radius: 14px;
    background: rgba(24, 24, 24, 0.32);
    backdrop-filter: blur(46.5px);
    border: 1px solid #242424;
    /* padding: 10px; */
}

.PanelResults {
    color: #7B8388;
    opacity: 0.75;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
}

.PanelOptions {
    /* margin-top: 15px;
    margin-left: 5px; */
    
}

.line{
    width: 91%;
    margin-left: 15px;
    border: 1px solid #242424;
}

.mgTop{
    margin-top: 18px;
}

.action{
    color: #7B8388;
    opacity: 1;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
}


.bottomSuggestionContainer{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

.btnContainer{
    display: flex;
}

.bottomSuggestionText{
    color: #7B8388;
    font-size: 12px;
    opacity: 0.75;
}
