.viewerWrap{
    background: var(--bud-container-background);
    border: 1px solid var(--bud-border-color);
    border-radius: 12px;
    padding: 10px 6px;
    position: absolute;
    width: 220px;
    left: 250px;
    bottom: 2vh;
    z-index: 100;
}

.viewerTop{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 45px;
}
.spaceTitle{
    display: flex;
    align-items: center;
}
.colorTag{
    width: 14px;
    height: 14px;
    background: var(--bud-primary-color);
    border-radius: 4px;
    margin-right: 20px;
}
.spaceTitle p{
    margin: 0;
}
.spaceTitle .addIcon{
    width: 20px;
    height: 20px;
    background: var(--bud-tertiary-background);
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s;
}
.spaceTitle .addIcon:hover{
    border: 1px solid var(--bud-secondary-text-color);
}
.searchWrap{
    border-radius: 9px;
    background: var(--bud-tertiary-background);
    display: flex;
    align-items: center;
    padding: 8px;
    margin-bottom: 10px;
}
.searchWrap .icons{
    width: 16px;
    flex-shrink: 0;
    margin-right: 10px;
}
.searchWrap input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}
.listWrap{
    max-height: 300px;
    overflow-y: scroll;
}
.folder{
    margin-bottom: 10px;
}
.folderTitle{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
}
.open .folderTitle{
    background: var(--bud-tertiary-background);
}
.folderTitle .openIcon{
    width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid var(--bud-icon-color);
  border-bottom: 5px solid transparent;
  margin-right: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.open .folderTitle .openIcon{
    transform: rotate(90deg);
}
.folderTitle .folderIcon{
    margin-right: 7px;
    display: flex;
    align-items: center;
}
.folderTitle .folderIcon svg{
    color: var(--bud-primary-text-color);
}
.folderTitle p{
    margin: 0;
    width: calc(100% - 60px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 10px;
}
.folderTitle input{
    width: calc(100% - 60px);
    border: none;
    outline: none;
    background: transparent;
}
.folderTitle .addIcon{
    color: var(--bud-secondary-text-color);
    margin-right: 7px;
    cursor: pointer;
}
.folderTitle .addIcon:hover{
    color: var(--bud-primary-text-color);
}   
.folderTitle .actionIcon{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.folderTitle .actionIcon:hover svg{
    color: var(--bud-primary-text-color);
}
.folderList{
    padding: 25px 0 10px;
}
.fileItem{
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 45px;
    position: relative;
    cursor: pointer;
}
.fileItem::before{
    content: '';
    position: absolute;
    width: 12px;
    height: 40px;
    border-bottom: 1px solid var(--bud-secondary-text-color);
    border-left: 1px solid var(--bud-secondary-text-color);
    left: 30px;
    top: -24px;
    border-radius: 0 0 0 6px;
}
.fileItem svg{
    flex-shrink: 0;
    margin-right: 7px;
}
.fileItem.active svg{
    color: var(--bud-primary-text-color);
}
.fileItem p{
    margin: 0;
    color: var(--bud-secondary-text-color);
}
.fileItem.active p{
    color: var(--bud-primary-text-color);
}