.codex-editor{
    padding: 50px 0;
}
.ce-popover, .tc-toolbox .tc-popover{
    background: var(--bud-container-background);
    border: 1px solid var(--bud-border-color);
}
.cdx-search-field{
    background: var(--bud-tertiary-background);
    border: none;
}
.ce-popover__item, .tc-popover__item{
    color: var(--bud-secondary-text-color);
}
.ce-popover__item-icon, .tc-popover__item-icon{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.ce-popover__item--focused:not(.ce-popover__item--no-visible-focus), .ce-popover__item:hover:not(.ce-popover__item--no-visible-hover), .ce-popover__item--active, .tc-popover__item:hover{
    background: linear-gradient(90deg, rgba(144, 104, 253, 0.2) 0%, rgba(144, 104, 253, 0) 90%) !important;
    box-shadow: none;
    color: var(--bud-primary-text-color);
}
.ce-toolbar__plus, .ce-toolbar__settings-btn{
    margin-right: 10px;
}
.ce-toolbar__plus:hover, .ce-toolbar__settings-btn:hover {
    background-color: var(--bud-container-background);
    color: var(--bud-secondary-text-color);
    
}

.ce-block--selected .ce-block__content, .tc-cell--selected {
    background: var(--bud-container-background) !important;
}
.tc-table{
    border-top: 1px solid var(--bud-border-color) !important;
}
.tc-row{
    border-bottom: 1px solid var(--bud-border-color) !important;
}
.tc-cell{
    border-right: 1px solid var(--bud-border-color) !important;
}
.tc-row:after{
    border-bottom: 1px solid var(--bud-border-color) !important;
}
.tc-add-column{
    border-top: 1px solid var(--bud-border-color) !important;
}
.tc-add-column:hover, .tc-add-row:hover, .tc-add-row:hover:before{
    background-color: var(--bud-container-background) !important;
}
.tc-toolbox__toggler svg, .tc-toolbox__toggler svg rect{
    fill: var(--bud-container-background);
}

.codeBoxTextArea{
    background: var(--bud-tertiary-background) !important;
    border-radius: 3px;
    width: calc(100% - 20px) !important;
}
.codeBoxSelectInput{
    background: var(--bud-tertiary-background) !important;
    opacity: 0.7;
    border-radius: 0 0 3px 3px !important;
    color: var(--bud-secondary-text-color) !important;
    padding: 2px 26px !important;
}
.codeBoxSelectDropIcon{
    background: transparent !important;
    color: var(--bud-secondary-text-color) !important;
    /* margin-top: -3px; */
}
.cdx-notifies{
    z-index: 4;
}
.cdx-checklist__item-checkbox{
    border-radius: 3px !important;
    width: 15px !important;
    height: 15px !important;
    border-color: var(--bud-border-color) !important;
    background: transparent !important;
}
.cdx-checklist__item--checked .cdx-checklist__item-checkbox{
    background: transparent !important;
    border-color: var(--bud-border-color) !important;
}
.cdx-checklist__item-checkbox::after{
    top: 3px !important;
    left: 3px !important;
    width: 7px !important;
    height: 4px !important;
    border-color: var(--bud-primary-text-color) !important;
}