.nodeWrap{
    border: 1px solid var(--bud-node-border-color);
    border-radius: 3px;
}
.nodeText{
    padding: 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: var(--bud-primary-text-color);
}