/* Dashboard index page */
.main-layout {
  background-color: var(--primary-bgc);
  height: 100vh;
}

.site-layout {
  background: var(--primary-bgc-light) !important;
  border-radius: 30px;
  box-shadow: 0 0 0 1px var(--light-gray);
  margin: 20px;
}

.site-layout-content {
  position: relative;
  background: var(--primary-bgc-light) !important;
  color: var(--white-color);
  padding: 20px;
  margin: 0;
  border-radius: 0 !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

.site-layout-common-menu {
  position: absolute;
  bottom: 2%;
  right: 42%;
  width: min(150px, 100%);
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-bgc-2);
  border-radius: 20px;
  padding: 0 8px;
  border: 2px solid var(--bud-border-color);
  z-index: 99999999;
}

/* Header */
.site-layout-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0;
  background: var(--primary-bgc-light);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom: 1px solid var(--light-gray);
}
.slider-box {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.slide-arrow,
.slide-arrow-active {
  z-index: 10;
  margin-left: -15px;
  margin-bottom: -100%;
  cursor: pointer;
  transition: all 0.3s;
}
.slide-arrow-active {
  transform: rotate(-180deg);
}
.controls-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 0 0;
}
.controls-box-path {
  width: min(230px, 100%);
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-bgc-2);
  border-radius: 6px;
  padding: 0 7px;
}
.controls-box-right-box {
  width: min(142px, 100%);
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-bgc-2);
  border-radius: 6px;
  padding: 0 7px;
}
.controls-switch-box {
  width: min(60px, 100%);
  position: relative;
  margin-left: -20%;
  height: 25px;
  border: 2px solid var(--bud-border-color);
  border-radius: 20px;
}
.controls-switch {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--primary-bgc-2) !important;
}
.controls-switch:hover {
  background-color: var(--primary-bgc-2) !important;
}

.controls-box-right-box p {
  color: var(--light-gray-200);
}

/* Sidebar */
.main-sidebar {
  min-width: 400px;
  transition: all 0.3s;
}
.main-sidebar,
.main-sidebar-menu-1 {
  background-color: var(--primary-bgc) !important;
}

.sidebar-menu-items,
.sidebar-menu-items-active {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: var(--bud-primary-text-color);
  text-decoration: none;
  width: 180px;
  border-radius: 0 !important;
}
.sidebar-menu-items::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: linear-gradient(
    90deg,
    rgba(144, 104, 253, 0.2) 10%,
    rgba(144, 104, 253, 0) 100%
  ) !important ;
  border-left: 3px solid transparent !important;
  width: 0% !important;
  transition: all 0.5s !important;
}

.sidebar-menu-items:hover::before {
  width: 100% !important;
  /* border-left: 0.5px solid !important; */
  /* border-left-color: var(--bud-primary-color) !important; */
}
.sidebar-menu-items-active::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: linear-gradient(
    90deg,
    rgba(144, 104, 253, 0.2) 0%,
    rgba(144, 104, 253, 0) 90%
  ) !important ;
  border-left: 3px solid transparent !important;
  border-left-color: var(--bud-primary-color) !important;
  width: 100% !important;
  transition: all 1s !important;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--light-gray-200);
}

.sidebar-inline-box {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

/* Workspaces */
.main-sidebar-menu-2 {
  margin-top: 15vh;
  position: relative;
  padding: 0 0 0 15px;
}
.main-sidebar-menu-ws-box {
  padding: 0 0 0 15px;
  min-height: 160px;
  max-height: 160px;
  overflow: scroll;
}
.main-sidebar-menu-ws-box::-webkit-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  display: none; /* Safari and Chrome */
}
.sidebar-work-spaces {
  background: #060507;
  border-radius: 0 !important;
  border-top: 0.052083333333333336vw solid var(--light-gray-50);
  border-bottom: 0.052083333333333336vw solid var(--light-gray-50);
}
.sidebar-work-spaces-box {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.sidebar-work-spaces-box a {
  color: var(--light-gray-300) !important;
}
.sidebar-work-spaces-box-p {
  font-size: var(--fs--2);
  color: var(--white-color);
  z-index: 1;
  transition: all 0.3s;
}
.sidebar-work-spaces-box-p:hover {
  transform: scale(1.1);
}
.workspace-add {
  width: min(140px, 100%);
  height: min(40px, 100%);
  display: flex;
  padding: 10px;
  align-items: center;
  position: absolute;
  right: 0%;
  bottom: -80%;
  z-index: 2;
  border-radius: 5px;
  background: linear-gradient(
    100deg,
    rgba(144, 104, 253, 0.2) 100%,
    rgba(144, 104, 253, 0) 100%
  ) !important;
}
.workspace-add input {
  width: min(140px, 100%);
  padding: 2px;
}
.workspace-add-color {
  max-width: 24px;
  min-height: 14px;
  border: none;
  margin-right: 5px;
}
.sidebar-ws-fvrt {
  margin-top: 30px !important;
}

.sidebar-menu-userprofile {
  min-height: 50px !important;
  margin-top: 70px !important;
}
.sidebar-menu-userprofile-profile {
  border: 1px solid rgba(210, 207, 207, 0.418);
  border-radius: 50px;
  padding: 2px;
}
.sidebar-menu-userprofile-box {
  max-width: 120px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px;
}
.sidebar-menu-userprofile-details {
  display: flex;
  flex-direction: column;
  gap:5px
}
.sidebar-menu-userprofile-details h1{
  font-size:14px;
  font-weight: 400;
  max-height: 12px !important;
}
.sidebar-menu-userprofile-details p{
  font-size: 12px;
  font-weight: 400;
  color: var(--bud-secondary-text-color);
}