
.editor {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
}

.editorCover {
  width: 889px;
  min-height: 149px;
  background-blend-mode: color, normal, normal, normal;
  border-radius: 8px;
}

.editorIcon {
  width: 72px;
  height: 72px;
  border-radius: 10px;
  background-color: blue;
  margin-right: 20px;
}