@for $i from 0 through 8 {
    .col#{$i}0 {
        min-width: 42px;
        box-sizing: border-box;
        padding: 12px;
    }
}

@for $i from 0 through 8 {
    .col#{$i}1 {
        min-width: 152px;
    }
}

@for $i from 0 through 8 {
    .col#{$i}2 {
        min-width: 112px;
    }
}

@for $i from 0 through 8 {
    .col#{$i}3 {
        min-width: 173px;
    }
}

@for $i from 0 through 8 {
    .col#{$i}4 {
        min-width: 87px;
    }
}

@for $i from 0 through 8 {
    .col#{$i}5 {
        min-width: 99px;
    }
}

@for $i from 0 through 8 {
    .col#{$i}6 {
        min-width: 95px;
    }
}

@for $i from 0 through 8 {
    .col#{$i}7 {
        min-width: 88px;
    }
}

@for $i from 0 through 8 {
    .col#{$i}8 {
        min-width: 85px;
    }
}