.launchWrap{
    position: absolute;
    border-radius: 7px;
    background: var(--bud-page-background);
    width: calc(100% - 40px);
    bottom: 70px;
    left: 0;
    padding: 20px;
}
.launchTitle{
    margin-bottom: 20px;
}
.skillWrap{
    display: flex;
}

.skill{
    border-radius: 8px;
    padding: 12px;
    display: flex;
    cursor: pointer;
}
.skill:hover{
    background: var(--bud-container-background);
}
.skillIcon{
    width: 30px;
    height: 30px;
    background: url(/images/skill-icon.png) no-repeat center;
    background-size: contain;
    margin-right: 11px;
    flex-shrink: 0;
}
.skill h3{
    color: var(--bud-primary-text-color);
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
}
.skill p{
    color: var(--bud-secondary-text-color);
    margin: 0;
}
.backBtn{
    width: 21px;
    height: 21px;
    background: var(--bud-container-background);
    border-radius: 50%;
    position: absolute;
    left: 35px;
    display: flex;
    align-items: center;
}
.skillDetail{
    padding: 30px 50px;
}
.detailTitle{
    color: var(--bud-secondary-text-color);
    margin-bottom: 30px;
}
.detailTitle span{
    color: var(--bud-primary-text-color);
}
.skillDetail p{
    color: var(--bud-secondary-text-color);
    margin: 0 0 40px;
}
.skillInputWrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.skillInput{ 
    width: calc(50% - 30px);
    border: 1px solid var(--bud-border-color);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 15px;
}
.skillInput label{
    color: var(--bud-secondary-text-color);
    display: block;
    font-size: 10px;
    margin-bottom: 3px;
}
.skillInput input{
    display: block;
    width: 100%;
}
.btn{
    background: var(--bud-primary-color);
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 120px;
    padding: 10px;
}
.btn p{
    color: var(--bud-primary-text-color);
    margin: 0;
}
.btn svg{
    color: var(--bud-primary-text-color);
}