:root {
    --bg-color: #9068fd;
}
.editor {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.editor::-webkit-scrollbar {
    display: none;
  }

.editorCover {
    width: 1000px;
    height: 200px;
    background-blend-mode: color, normal, normal, normal;
    border-radius: 8px;
}

.editorIcon {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    background-color: blue;
    margin-right: 850px;
    position: relative;
    bottom: 30px;
}

.editorHeadingDiv {
    margin-right: 350px;
    width: 800px;
}

.editorjsSubHeading {
    margin-top: 20px;
    margin-right: 300px;
    font-size: 16px;
    border: none;
    outline: none;
    min-width: 700px;
    max-width: 700px;
}

.editorjsHeading {
    height: fit-content;
}
.editorjsHeading .codex-editor__redactor {
    padding-bottom: 0px !important;
}

.editorjsHeading .ce-inline-toolbar__toggler-and-button-wrapper {
    background-color: black;
    border-radius: 4px;
}

.editorjsHeading .ce-inline-tool:hover {
    background-color: #1F1E22 !important;
}

.editorjsHeading .ce-toolbar__plus {
    display: none;
}

.editorjsHeading .ce-header {
    font-size: 30px;
}

.editorjsHeading .cdx-settings-button {
    color: white;
}

.editorjsHeading .ce-header::selection {
    background-color: var(--bg-color);
}

.editorjsHeading .ce-header span::selection {
    background-color: var(--bg-color);
}

.editorjsHeading .ce-header i::selection {
    background-color: var(--bg-color);
}

.editorjsHeading .ce-block__content {
}

.editorjsHeading .ce-block__content::selection {
    background-color: var(--bg-color);
}

.EditorOptionComponent:hover .optionIcon {
    border-color: var(--bg-color);
}

.editorjsHeading .codex-editor {
}

.editorjsHeading .ce-inline-toolbar {
    border-color: black;
    top: -30px !important;
    width: fit-content;
    min-height: 30px;
}

.editorjsHeading .ce-inline-toolbar__dropdown {
    display: none;
}

.editorjsHeading .ce-inline-tool--active:hover {
    background-color: #1F1E22 !important;
}

.editorjsHeading .ce-inline-tool--bold {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-right: 0px !important;
}

.editorjsHeading .ce-inline-tool--italic {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-right: 10px;
}

.editorjsHeading .ce-inline-tool--link {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.editorjsHeading .ce-inline-tool--align-text {
    margin-right: 0px !important;
}

.editorjsHeading .ce-conversion-toolbar {
    background-color: black !important;
}

.editorjsHeading .ce-conversion-tool__icon svg {
    color: black;
}

.editorjsHeading .cdx-search-field {
    display: none;
}

.editorjsHeading .ce-popover--opened {
    background-color: black;
    width: 10px !important;
}

.editorjsHeading .ce-toolbar__settings-btn {
    display: none;
}

.editorjsHeading .ce-toolbar__settings-btn:hover {
    color: black;
}

.editorjsHeading .ce-popover__items {
    display: none;
}

.editorjsHeading .ce-popover__custom-content {
    width: 110px !important;
    display: flex;
    align-items: start;
}

.editorjsHeading .ce-popover__custom-content span {
    display: none;
}

.editorjsHeading .ce-inline-toolbar__buttons {
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.editorjsHeading .ce-block--selected::selection {
    background-color: #696969 !important;
}

.editorjsHeading .ce-inline-tool  {
    background-color: #1F1E22;
    border-radius: 3px;
    padding: 5px;
    margin-right: 10px;
}

.editorParaDiv {
    margin-top: 30px;
    margin-right: 355px;
    height: 150px;
    width: 840px;
}

.editorjsPara {
}

.editorjsPara .ce-paragraph {
    font-size: 18px;
    color: #BBBBBB;
}

.editorjsPara .ce-popover {
    background-color: black;
}

.editorjsPara .cdx-search-field {
    display: none;
}

.editorjsPara .ce-inline-toolbar__toggler-and-button-wrapper {
    background-color: black;
    border-radius: 4px;
}

.editorjsPara .ce-inline-toolbar {
    border-color: black;
}

.editorjsPara .ce-conversion-tool--focused {
    background-color: black !important;
}

.editorjsPara .ce-inline-tool:hover {
    background-color: #1F1E22;
}


.editorjsPara .ce-inline-tool--active:hover {
    background-color: #1F1E22 !important;
}

.editorjsPara .ce-inline-tool--bold:hover {
    background-color: #1F1E22 !important;
}

.editorjsPara .ce-inline-tool--italic:hover {
    background-color: #1F1E22 !important;
}

.editorjsPara .ce-inline-tool--link:hover {
    background-color: #1F1E22 !important;
}

.editorjsPara .ce-conversion-toolbar {
    background-color: black !important;
}

.editorjsPara .ce-conversion-tool {
    background-color: black;
}
.editorjsPara .ce-conversion-tool__icon svg {
    color: black;
}

.editorjsPara .ce-inline-toolbar__dropdown:hover {
    background-color: #1F1E22 !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.editorjsPara .ce-popover__item-icon {
    color: black;
}

.editorjsPara .ce-popover__item:hover {
    background-color: #1F1E22 !important;
}

.editorjsPara .ce-toolbar__plus {
    background-color: transparent;
}

.editorjsPara .ce-toolbar__plus svg {
    color: white;
}

.editorjsPara .ce-toolbar__settings-btn {
    background-color: transparent;
}

.editorjsPara .ce-toolbar__settings-btn svg {
    color: white;
}

.editorjsPara .tc-popover {
    background-color: black;
}

.editorjsPara .tc-popover__item-icon {
    color: black; 
}
.editorMoreOptions {
    color: #696969;
    margin-top: 40px;
    display: flex;
    margin-left: 62px;
    width: fit-content;
}

.editorjsPara .codex-editor__redactor {
    padding-bottom: 0px !important;
}

.editorjsPara .ce-toolbar__plus {
    display: none;
}

.EditorOptionsBlock {
    width: 260px;
    height: 270px;
    background: #28272C;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
    border-radius: 12px;
    margin-right: 200px;
    padding: 5px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.1s ease;
    position: absolute;
    z-index: 100;
}

.show{
    opacity: 1;
    transition: all 0.2s ease;
    transform: scale(1);
    /* animation: animation 0.5s ease forwards; */
  }

.editorOptionDiv::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .editorOptionDiv{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-height: 215px;
    overflow-y: scroll;
  }


/* .EditorOptionComponent:hover {
    background-color: #1F1E22;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
} */

.EditorOptionComponent {
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateY(10px);
    transition: all 0.4s ease-in-out;
}

.optionIcon {
    border: 0.5px dashed #747474;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin-left: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: #28272C;
}
.hoverMovement {
    position: absolute;
    right: 0;
    left: 0;
    background: #1F1E22;
    height: 45px;
    transition: transform .2s ease;
    transform: translateY(9px);
    z-index: -1;
    border-radius: 12px;
}
.editorOptionDiv{
    position: relative;
    height: 300px;
}
.EditorOptionComponent{
    z-index: 2;
}