@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --border-Color: #2F2F2F;
}

.accordionParent {
    width: 95%;
    margin-left: 36px;
    margin-right: 28px;
    /* background-color: aqua; */
}

.statusParent {
    background: #101010;
    border: 0.5px dashed var(--border-Color);
    border-radius: 12px;
    margin-bottom: 18px;
    transition: border 0.5s ease-in-out;
}

.statusParent:hover{
    border: 0.5px dashed var(--bud-primary-color);
}

.titleContainerParent {
    /* border: 2px solid green; */
    margin: 12px 0px 12px 10px;
}

.titleContainer {
    display: flex;
    align-items: center;
}

.arrowAndTitleContainer {
    display: flex;
    margin-left: 8px;
    align-items: center;
    justify-content: space-between;
}

.subAccordionContainer {
    /* background: #1B1C1E; */
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 12px;
}

/* .headerSubComponentContainer{
} */
.arrowContainer {
    padding: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.subAccordionParent {
    margin-bottom: 10px;
    background: #1B1C1E;
    border-radius: 8px;
    padding: 10px 9px;
    /* background-color: rebeccapurple; */

}

.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newTaskText2 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 154.5%;
    color: #FFFFFF;
    margin-right: 16px;

  cursor: pointer;

  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.newTaskText2:hover {
    color: var(--bud-primary-color);
}

.subChildComponent {
    margin-left: 40px;
}

.description {
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 23px;
    width: 40%;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #BBBBBB;
}

.flex {
    display: flex;
    align-items: center;
}

.textHeader {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.5%;
    color: #FFFFFF;
}

.empty-list {
  text-align: center;
  font-family: 'Noto Sans';
  font-size: small;
  color: #2f2f2f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-end;

}
