.workspaceTextBox{
    background-color: rgba(217, 217, 217, 0.05);
    border: none;
    caret-color: #F9D45D;
    color: #C6C6C6;
    border-radius: 2px;
    height: 20px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
}
.workspaceTextBox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #585A5B;
    text-align: left;
    opacity: 1; /* Firefox */
  }
  .colorInput{
    width: 14px;
    height: 14px;
    top: 0px;
    left: 25px;
    right: 0;
    bottom: 0;
    border: 0;
    outline: none;
    position: absolute;
    opacity: 0;
  }
  .colorInputWrapper{
    position: relative;
  }
  .workspaceInputLabel{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }