.OmniSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.Modal .ant-modal-content {
    background-color: transparent !important;
}

.Modal .ant-modal-title {
    display: none;
}

.Modal .ant-modal-footer {
    display: none;
}