.editor-container {
  width: 889px;
  margin: auto;
  min-width: 889px;

  h1 {
    color: #ffffff;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
  }

  p {
    color: #bcbcbc;
    font-size: 14px;
    font-family: Noto Sans;
    font-weight: 500;
    line-height: 175%;
    letter-spacing: -0.28px;
  }

  p:last-child:before {
    content: '';
    color: #696969;
    font-size: 14px;
    font-family: Noto Sans;
  }

  table {
    border: 1px solid #434244;
  }

  tr {
    border-bottom: 1px solid #434244;
  }

  th {
    border: 1px solid #434244;
    min-width: 200px;
    background-color: #1f1e22;
  }

  td {
    border: 1px solid #434244;
  }

}

.contentEditable {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  letter-spacing: -0.02em;

  color: #bbbbbb;
}

.debug-timetravel-panel {
  overflow: hidden;
  padding: 0 0 10px 0;
  margin: auto;
  display: flex;
}

.debug-timetravel-panel-slider {
  padding: 0;
  flex: 8;
}

.debug-timetravel-panel-button {
  padding: 0;
  border: 0;
  background: none;
  flex: 1;
  color: #fff;
  font-size: 12px;
}

.debug-timetravel-panel-button:hover {
  text-decoration: underline;
}

.debug-timetravel-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 15px;
  position: absolute;
  background: none;
  color: #fff;
}

.debug-timetravel-button:hover {
  text-decoration: underline;
}

.debug-treetype-button {
  border: 0;
  padding: 0;
  font-size: 12px;
  top: 10px;
  right: 85px;
  position: absolute;
  background: none;
  color: #fff;
}

.debug-treetype-button:hover {
  text-decoration: underline;
}

.rtl {
  text-align: right;
}

.toolbar {
  display: flex;
  margin-bottom: 1px;
  background: #fff;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
  overflow: auto;
  height: 36px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.toolbar button.toolbar-item:disabled .icon,
.toolbar button.toolbar-item:disabled .text,
.toolbar button.toolbar-item:disabled i.format,
.toolbar button.toolbar-item:disabled .chevron-down {
  opacity: 0.2;
}

.toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
  opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.toolbar .toolbar-item.font-family .text {
  display: block;
  max-width: 40px;
}

.toolbar .code-language {
  width: 150px;
}

.toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
  text-align: left;
  padding-right: 10px;
}

.toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.toolbar i.chevron-down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}

.toolbar i.chevron-down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}

.toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.typeahead-popover {
  background: #28272c;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  margin-top: 25px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 259px;

  /* identical to box height */

  color: #ffffff;
}

.typeahead-popover ul {
  list-style: none;
  margin: 0;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: scroll;
  padding: 3px;
  margin-top: 16px;
}

.typeahead-popover ul::-webkit-scrollbar {
  /* background: #403E46;
  border-radius: 8px; */
  /* width: 2px; */
  /* height: 34px; */
}

.typeahead-popover ul::-webkit-scrollbar-track {
  /* background: #28272c;
  border-radius: 8px; */
}

.typeahead-popover ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.typeahead-popover ul li {
  margin: 0;
  min-width: 180px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.typeahead-popover ul li.selected {
  background: #1f1e22;
  border-radius: 7px;
}

.typeahead-popover li {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #ffffff;
  cursor: pointer;
  line-height: 16px;

  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  /* background-color: #fff; */
  /* border-radius: 8px; */
  border: 0;

  background: #28272c;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85); */
  /* border-radius: 12px; */
}

.typeahead-popover li.active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.typeahead-popover li:first-child {
  border-radius: 8px 8px 0px 0px;
}

.typeahead-popover li:last-child {
  border-radius: 0px 0px 8px 8px;
}

.typeahead-popover li:hover {
  background: #1f1e22;
  border-radius: 7px;
}

.typeahead-popover li .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  min-width: 150px;
}

.typeahead-popover li .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.component-picker-menu {
  width: 200px;
  overflow: auto;
}

.bud-action {
  width: 259px;
  /* height: 270px; */
  flex-shrink: 0;
  border-radius: 12px;
  background: #28272c;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.85);
}

.bud-action-title {
  color: #66676a;
  font-size: 12px;
  font-family: Noto Sans;
  letter-spacing: -0.24px;
  padding: 9px 0 0 9px;
  height: 30px;
}

.bud-action-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.bud-action-menu-icon {
  border: 0.5px dashed #747474;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-left: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: #28272c;
}

.bud-action-menu-item {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 35px;
}

.bud-action-menu-item-title {
  color: #fff;
  font-size: 16px;
  font-family: Noto Sans;
}

.bud-action-menu-item-description {
  color: #bbb;
  font-size: 12px;
  font-family: Noto Sans;
  letter-spacing: -0.24px;
}


.editor-text-hashtag {
  background-color: var(--bud-primary-color);
  border-radius: 5px;
  padding: 3px;
  color: #fff;
}

.editor-text-hashtag::first-letter {
  font-size: 0%;
}

/* Check List */
.PlaygroundEditorTheme__ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}
.PlaygroundEditorTheme__listItem {
  margin: 4px 32px;
}
.PlaygroundEditorTheme__listItemChecked,
.PlaygroundEditorTheme__listItemUnchecked {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 24px;
  padding-right: 24px;
  list-style-type: none;
  outline: none;
}
.PlaygroundEditorTheme__listItemChecked {
  text-decoration: line-through;
}
.PlaygroundEditorTheme__listItemUnchecked:before,
.PlaygroundEditorTheme__listItemChecked:before {
  content: '';
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  cursor: pointer;
  display: block;
  background-size: cover;
  position: absolute;
}
.PlaygroundEditorTheme__listItemUnchecked[dir='rtl']:before,
.PlaygroundEditorTheme__listItemChecked[dir='rtl']:before {
  left: auto;
  right: 0;
}
.PlaygroundEditorTheme__listItemUnchecked:focus:before,
.PlaygroundEditorTheme__listItemChecked:focus:before {
  box-shadow: 0 0 0 2px #a6cdfe;
  border-radius: 2px;
}
.PlaygroundEditorTheme__listItemUnchecked:before {
  border: 1px solid var(--bud-primary-color);
  border-radius: 2px;
}
.PlaygroundEditorTheme__listItemChecked:before {
  border: 1px solid var(--bud-primary-color);
  border-radius: 2px;
  background-color: var(--bud-primary-color);
  background-repeat: no-repeat;
}
.PlaygroundEditorTheme__listItemChecked:after {
  content: '';
  cursor: pointer;
  border-color: #fff;
  border-style: solid;
  position: absolute;
  display: block;
  top: 6px;
  width: 3px;
  left: 7px;
  right: 7px;
  height: 6px;
  transform: rotate(45deg);
  border-width: 0 2px 2px 0;
}
.PlaygroundEditorTheme__nestedListItem {
  list-style-type: none;
}
.PlaygroundEditorTheme__nestedListItem:before,
.PlaygroundEditorTheme__nestedListItem:after {
  display: none;
}


#typeahead-menu{
  z-index: 9999;
}
