@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  /* Font related */
  --bud-font-family: 'Noto Sans', sans-serif;
  --fs--2: clamp(0.63rem, calc(1.05rem + -0.34vw), 0.99rem);
  --fs--1: clamp(0.88rem, calc(1.08rem + -0.16vw), 1.05rem);
  --fs-0: clamp(1.13rem, calc(1.1rem + 0.12vw), 1.25rem);
  --fs-1: clamp(1.2rem, calc(1.1rem + 0.53vw), 1.77rem);
  --fs-2: clamp(1.28rem, calc(1.07rem + 1.15vw), 2.5rem);
  --fs-3: clamp(1.37rem, calc(0.98rem + 2.04vw), 3.53rem);
  --fs-4: clamp(1.46rem, calc(0.83rem + 3.33vw), 5rem);
  --fs-5: clamp(1.56rem, calc(0.58rem + 5.19vw), 7.07rem);

  /* Colors */
  --bud-primary-color: #9068fd;
  --bud-page-background: #050505;
  --bud-container-background: #0f0f0f;
  --bud-border-color: #242424;
  --bud-tertiary-background: #272727;

  --bud-primary-text-color: #c6c6c6;
  --bud-secondary-text-color: #565d62;
  --bud-icon-color: #565d62;
  --bud-node-border-color: #9068fd96;

  --primary-bgc: #000000;
  --primary-bgc-2: #1a1a20;
  --primary-bgc-3: #000000;
  --primary-bgc-light: #1D1D1D;
  --white-color: #fff;
  --light-gray: #565262a4;
  /* --light-gray: #565262; */
  --light-gray-50: #4e4d5256;
  --light-gray-200: #c6c6c6;
  --light-gray-300: #adadad;

  --menuColor: rgba(144, 104, 253, 0.2);
  --menuHoverColor: rgba(144, 104, 253, 0.2);
  --menuHoverColorOnLeave: rgba(144, 104, 253, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

:where(.css-dev-only-do-not-override-b11g6e).ant-menu-dark {
  background: var(--primary-bgc) !important;
}

.hover-effect {
  opacity: 0.6;
  transition: all 0.3s;
}

.hover-effect:hover {
  opacity: 1;
  cursor: pointer;
}
:where(.css-dev-only-do-not-override-k9tb46).ant-popover .ant-popover-inner {
  background-color: #0c0c0c;
  padding: 0px;
}
.ant-popover-arrow {
  /* display: none !important; */
}
.ant-popover {
  background: transparent !important;
  margin-left: 100px !important;
}

:where(.css-dev-only-do-not-override-k9tb46).ant-tree
  .ant-tree-switcher-leaf-line:after {
  position: absolute;
  width: 9.600000000000001px;
  height: 12px;
  border-bottom: 1px solid #d9d9d9;
  content: '';
  /* border-bottom-left-radius: 5px; */
}
:where(.css-dev-only-do-not-override-k9tb46).ant-tree
  .ant-tree-switcher-leaf-line:before {
  position: absolute;
  top: 0;
  inset-inline-end: 12px;
  bottom: -4px;
  margin-inline-start: -1px;
  /* border-inline-end: 1px solid #d9d9d9; */
  content: '';
  /* border-bottom-right-radius: 50px !important; */
}
.ant-tree-indent-unit-start {
  color: red;
}
:where(.css-dev-only-do-not-override-k9tb46).ant-tree
  .ant-tree-switcher-leaf-line:before {
  inset-inline-end: 12px !important;
}
:where(.css-dev-only-do-not-override-k9tb46).ant-tree
  .ant-tree-switcher-leaf-line:after {
  height: 19px;
}
:where(.css-dev-only-do-not-override-k9tb46).ant-tree
  .ant-tree-treenode-leaf-last
  .ant-tree-switcher-leaf-line:before {
  height: 18px !important;
  border-bottom-right-radius: 10px;
  transform: scaleY(1);
}
:where(.css-dev-only-do-not-override-k9tb46).ant-tree
  .ant-tree-node-content-wrapper
  .ant-tree-iconEle,
:where(.css-dev-only-do-not-override-k9tb46).ant-tree
  .ant-tree-checkbox
  + span
  .ant-tree-iconEle {
  display: none;
}
.eachsection {
  position: relative;
}
.eachsection .ant-tree-switcher-noop {
  /* visibility: hidden; */
  z-index: -1 !important;
}
/* .ant-tree-treenode-leaf-last {
  margin-left: 30px;
} */

.ant-tree-treenode {
  /* border: 5px solid white; */
  /* z-index: 0; */
}
.ant-tree-title {
  /* border-radius: 5px solid white; */
}
.ant-tree-iconEle {
  display: none !important;
}

.editor-wrapper{
  color: #fff;
  margin-left: 50px;

  /* p {
    color: red;
  }

  p:before{
    content: '>';
    color: #fff;
    margin-right: 10px;
  } */

}

