.searchWrapper{
    display: flex;
    align-items: center;
    background: var(--bud-container-background);
    border-radius: 12px;
    border: 1px solid var(--bud-border-color);
    width: 620px;
    padding: 10px;
    position: fixed;
    bottom: 40px;
    z-index: 10;
    left: calc(50% - 190px);
}
.launchIcon{
    border-radius: 12px;
    background: var(--bud-primary-color) url(/images/launcher-icon.svg) no-repeat center;
    /* background-size: contain; */
    width: 38px;
    height: 38px;
    margin-right: 30px;
    cursor: pointer;
}

.budLogo{
    width: 45px;
    height: 19px;
    background: url(/images/bud-logo.svg) no-repeat center;
    background-size: contain;
    margin-right: 50px;
}
.voiceIcon{
    width: 14px;
    height: 14px;
    background: url(/images/voice-icon.svg) no-repeat center;
    margin-left: 30px;
}
.searchWrapper input{
    width: calc(100% - 230px);
    border: none;
    outline: none;
    background: transparent;
}