:root {
  --bg-color: #9068fd;
}

.editor {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
}

.ce-block__content h1 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #ffffff;
}

.editor .codex-editor__redactor {
  padding-bottom: 10px !important;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.ce-paragraph .cdx-block {
  cursor: text;
}

[data-placeholder]:empty:before {
  /* content: attr(placeholder); */
  content: url("data:image/svg+xml,%3Csvg width='281' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.004 5.004c1.307 0 2.259.257 2.856.77s.896 1.237.896 2.17c0 .41-.07.807-.21 1.19-.13.373-.35.71-.658 1.008-.308.299-.719.537-1.232.714-.513.168-1.143.252-1.89.252H2.618V15h-1.26V5.004h2.646zm-.112 1.078H2.618v3.948h1.008c.635 0 1.162-.065 1.582-.196.42-.14.733-.36.938-.658.205-.299.308-.69.308-1.176 0-.644-.205-1.125-.616-1.442-.41-.317-1.06-.476-1.946-.476zm9.275 1.274c.14 0 .289.01.448.028.168.01.312.028.434.056l-.154 1.134a4.054 4.054 0 0 0-.812-.098c-.29 0-.565.06-.826.182a2.202 2.202 0 0 0-.7.518 2.38 2.38 0 0 0-.49.784 3.015 3.015 0 0 0-.168 1.036V15H9.667V7.496h1.008l.14 1.372h.056c.158-.28.35-.532.574-.756.224-.233.48-.415.77-.546.289-.14.606-.21.952-.21zm4.907 0c.644 0 1.195.14 1.652.42.467.28.822.677 1.064 1.19.252.504.378 1.097.378 1.778v.742H16.03c.019.85.234 1.498.644 1.946.42.439 1.004.658 1.75.658a5.64 5.64 0 0 0 1.26-.126 7.59 7.59 0 0 0 1.148-.392v1.078a5.51 5.51 0 0 1-1.134.364 6.128 6.128 0 0 1-1.33.126c-.709 0-1.339-.145-1.89-.434a3.083 3.083 0 0 1-1.274-1.288c-.298-.579-.448-1.283-.448-2.114 0-.821.136-1.526.406-2.114.28-.588.668-1.04 1.162-1.358.504-.317 1.088-.476 1.75-.476zm-.014 1.008c-.588 0-1.054.191-1.4.574-.336.373-.536.896-.602 1.568h3.822c0-.43-.065-.803-.196-1.12a1.581 1.581 0 0 0-.602-.742c-.261-.187-.602-.28-1.022-.28zm9.905 4.564c0 .485-.122.891-.364 1.218-.243.327-.588.574-1.036.742-.448.168-.98.252-1.596.252-.523 0-.976-.042-1.358-.126a4.145 4.145 0 0 1-.994-.35v-1.12c.298.15.658.29 1.078.42.429.121.863.182 1.302.182.625 0 1.078-.098 1.358-.294a.96.96 0 0 0 .42-.812.87.87 0 0 0-.154-.504c-.103-.15-.29-.299-.56-.448a8.33 8.33 0 0 0-1.134-.504c-.486-.187-.901-.373-1.246-.56-.346-.187-.612-.41-.798-.672-.187-.261-.28-.597-.28-1.008 0-.635.256-1.125.77-1.47.522-.345 1.204-.518 2.044-.518.457 0 .882.047 1.274.14a5.25 5.25 0 0 1 1.12.364l-.42.98a4.561 4.561 0 0 0-.658-.238 4.328 4.328 0 0 0-.686-.168 3.633 3.633 0 0 0-.714-.07c-.504 0-.892.084-1.162.252-.262.159-.392.378-.392.658 0 .205.06.383.182.532.121.14.322.28.602.42.289.13.672.29 1.148.476.476.177.882.36 1.218.546.336.187.592.415.77.686.177.261.266.593.266.994zm6.699 0c0 .485-.121.891-.364 1.218-.243.327-.588.574-1.036.742-.448.168-.98.252-1.596.252-.523 0-.975-.042-1.358-.126a4.146 4.146 0 0 1-.994-.35v-1.12c.299.15.658.29 1.078.42.43.121.863.182 1.302.182.625 0 1.078-.098 1.358-.294a.96.96 0 0 0 .42-.812.869.869 0 0 0-.154-.504c-.103-.15-.29-.299-.56-.448a8.319 8.319 0 0 0-1.134-.504c-.485-.187-.9-.373-1.246-.56-.345-.187-.611-.41-.798-.672-.187-.261-.28-.597-.28-1.008 0-.635.257-1.125.77-1.47.523-.345 1.204-.518 2.044-.518.457 0 .882.047 1.274.14.401.084.775.205 1.12.364l-.42.98a4.557 4.557 0 0 0-.658-.238 4.328 4.328 0 0 0-.686-.168 3.631 3.631 0 0 0-.714-.07c-.504 0-.891.084-1.162.252-.261.159-.392.378-.392.658 0 .205.06.383.182.532.121.14.322.28.602.42.29.13.672.29 1.148.476.476.177.882.36 1.218.546.336.187.593.415.77.686.177.261.266.593.266.994zm9.118-7.924c-.084.355-.173.737-.266 1.148-.093.41-.177.812-.252 1.204a23.9 23.9 0 0 0-.182 1.078h-1.33l-.098-.154c.084-.327.191-.677.322-1.05.13-.383.275-.765.434-1.148.159-.383.313-.742.462-1.078h.91zm-2.59 0c-.084.355-.173.737-.266 1.148-.093.41-.178.812-.252 1.204a23.9 23.9 0 0 0-.182 1.078h-1.316l-.084-.154c.084-.327.191-.677.322-1.05.13-.383.27-.765.42-1.148.158-.383.313-.742.462-1.078h.896zm20.213.154a14.49 14.49 0 0 1-.322 1.064c-.13.383-.276.765-.434 1.148-.15.373-.299.728-.448 1.064h-.924c.093-.355.182-.733.266-1.134.093-.41.177-.812.252-1.204.084-.401.15-.765.196-1.092h1.316l.098.154zm-2.59 0a14.49 14.49 0 0 1-.322 1.064c-.13.383-.276.765-.434 1.148-.15.373-.299.728-.448 1.064h-.896a29.54 29.54 0 0 0 .378-1.736c.065-.308.121-.607.168-.896.056-.29.102-.555.14-.798h1.316l.098.154zm11.048 3.29h-1.89V15H66.74V8.448h-1.316v-.574l1.316-.42V7.02c0-.644.093-1.167.28-1.568.196-.401.476-.695.84-.882.364-.187.802-.28 1.316-.28.298 0 .57.028.812.084.252.047.466.103.644.168l-.322.966a7.848 7.848 0 0 0-.518-.14 2.59 2.59 0 0 0-.602-.07c-.41 0-.719.14-.924.42-.196.27-.294.7-.294 1.288v.49h1.89v.952zm7.878 2.786c0 .625-.084 1.18-.252 1.666a3.336 3.336 0 0 1-.7 1.218 2.918 2.918 0 0 1-1.106.77c-.429.168-.91.252-1.442.252-.494 0-.952-.084-1.372-.252a3.1 3.1 0 0 1-1.092-.77 3.68 3.68 0 0 1-.728-1.218c-.168-.485-.252-1.04-.252-1.666 0-.83.14-1.53.42-2.1a2.95 2.95 0 0 1 1.204-1.316c.523-.308 1.144-.462 1.862-.462.682 0 1.279.154 1.792.462.523.299.929.737 1.218 1.316.299.57.448 1.27.448 2.1zm-5.67 0c0 .588.075 1.101.224 1.54.159.43.402.76.728.994.327.233.742.35 1.246.35s.92-.117 1.246-.35c.327-.233.565-.565.714-.994.159-.439.238-.952.238-1.54 0-.597-.079-1.106-.238-1.526-.158-.42-.401-.742-.728-.966-.317-.233-.732-.35-1.246-.35-.765 0-1.32.252-1.666.756-.345.504-.518 1.2-.518 2.086zm11.123-3.878c.14 0 .29.01.448.028.168.01.313.028.434.056l-.154 1.134a4.049 4.049 0 0 0-.812-.098c-.29 0-.565.06-.826.182a2.203 2.203 0 0 0-.7.518 2.381 2.381 0 0 0-.49.784 3.015 3.015 0 0 0-.168 1.036V15h-1.232V7.496h1.008l.14 1.372h.056c.159-.28.35-.532.574-.756.224-.233.48-.415.77-.546.29-.14.607-.21.952-.21zm7.152-.406c0 .317-.01.616-.028.896-.01.27-.023.485-.042.644h.07c.215-.317.508-.583.882-.798.373-.215.854-.322 1.442-.322.933 0 1.68.327 2.24.98.57.644.854 1.61.854 2.898 0 .859-.13 1.577-.392 2.156-.252.579-.612 1.013-1.078 1.302-.467.29-1.008.434-1.624.434-.588 0-1.069-.107-1.442-.322a2.754 2.754 0 0 1-.882-.77h-.098l-.252.952h-.882V4.36h1.232v2.59zm2.114 1.442c-.532 0-.952.103-1.26.308-.308.196-.528.504-.658.924-.13.41-.196.938-.196 1.582v.056c0 .924.15 1.633.448 2.128.308.485.873.728 1.694.728.672 0 1.171-.247 1.498-.742.336-.495.504-1.209.504-2.142 0-.943-.168-1.652-.504-2.128-.327-.476-.836-.714-1.526-.714zm11.539-.896V15h-1.008l-.182-.994h-.056a2.035 2.035 0 0 1-.616.644c-.252.168-.527.29-.826.364a3.448 3.448 0 0 1-.938.126c-.597 0-1.101-.093-1.512-.28a1.969 1.969 0 0 1-.91-.896c-.205-.401-.308-.92-.308-1.554V7.496h1.246v4.83c0 .597.135 1.045.406 1.344.27.299.69.448 1.26.448.56 0 .999-.103 1.316-.308.327-.215.555-.523.686-.924.14-.41.21-.905.21-1.484V7.496h1.232zm5.042 7.644c-.933 0-1.68-.322-2.24-.966-.56-.653-.84-1.624-.84-2.912 0-1.288.28-2.259.84-2.912.57-.663 1.321-.994 2.254-.994.392 0 .733.051 1.022.154.29.093.542.224.756.392.215.168.397.355.546.56h.084a12.967 12.967 0 0 0-.056-.532 8.332 8.332 0 0 1-.028-.574V4.36h1.232V15h-.994l-.182-1.008h-.056a2.92 2.92 0 0 1-.546.588 2.607 2.607 0 0 1-.77.406c-.289.103-.63.154-1.022.154zm.196-1.022c.794 0 1.349-.215 1.666-.644.327-.439.49-1.097.49-1.974v-.224c0-.933-.154-1.647-.462-2.142-.308-.504-.877-.756-1.708-.756-.662 0-1.162.266-1.498.798-.326.523-.49 1.227-.49 2.114 0 .896.164 1.591.49 2.086.336.495.84.742 1.512.742zm10.892-.588a16.148 16.148 0 0 1-.756 2.198 24.09 24.09 0 0 1-.448 1.078h-.91c.094-.355.182-.737.266-1.148a27.962 27.962 0 0 0 .434-2.282h1.316l.098.154zm9.553-8.526c-.084.355-.172.737-.266 1.148-.093.41-.177.812-.252 1.204-.074.392-.135.751-.182 1.078h-1.33l-.098-.154c.084-.327.192-.677.322-1.05.131-.383.276-.765.434-1.148.159-.383.313-.742.462-1.078h.91zm-2.59 0c-.084.355-.172.737-.266 1.148-.093.41-.177.812-.252 1.204-.074.392-.135.751-.182 1.078h-1.316l-.084-.154c.084-.327.192-.677.322-1.05.131-.383.271-.765.42-1.148.159-.383.313-.742.462-1.078h.896zm12.83.154c-.084.327-.191.681-.322 1.064-.13.383-.275.765-.434 1.148-.149.373-.298.728-.448 1.064h-.924c.094-.355.182-.733.266-1.134.094-.41.178-.812.252-1.204a16.9 16.9 0 0 0 .196-1.092h1.316l.098.154zm-2.59 0c-.084.327-.191.681-.322 1.064-.13.383-.275.765-.434 1.148-.149.373-.298.728-.448 1.064h-.896a28.435 28.435 0 0 0 .378-1.736c.066-.308.122-.607.168-.896.056-.29.103-.555.14-.798h1.316l.098.154zm14.685 3.29h-1.89V15h-1.232V8.448h-1.316v-.574l1.316-.42V7.02c0-.644.093-1.167.28-1.568.196-.401.476-.695.84-.882.364-.187.803-.28 1.316-.28.299 0 .569.028.812.084.252.047.467.103.644.168l-.322.966a7.797 7.797 0 0 0-.518-.14 2.592 2.592 0 0 0-.602-.07c-.411 0-.719.14-.924.42-.196.27-.294.7-.294 1.288v.49h1.89v.952zm7.879 2.786c0 .625-.084 1.18-.252 1.666a3.342 3.342 0 0 1-.7 1.218 2.926 2.926 0 0 1-1.106.77c-.43.168-.91.252-1.442.252a3.66 3.66 0 0 1-1.372-.252 3.1 3.1 0 0 1-1.092-.77 3.674 3.674 0 0 1-.728-1.218c-.168-.485-.252-1.04-.252-1.666 0-.83.14-1.53.42-2.1a2.948 2.948 0 0 1 1.204-1.316c.522-.308 1.143-.462 1.862-.462.681 0 1.278.154 1.792.462.522.299.928.737 1.218 1.316.298.57.448 1.27.448 2.1zm-5.67 0c0 .588.074 1.101.224 1.54.158.43.401.76.728.994.326.233.742.35 1.246.35s.919-.117 1.246-.35c.326-.233.564-.565.714-.994.158-.439.238-.952.238-1.54 0-.597-.08-1.106-.238-1.526-.159-.42-.402-.742-.728-.966-.318-.233-.733-.35-1.246-.35-.766 0-1.321.252-1.666.756-.346.504-.518 1.2-.518 2.086zm11.122-3.878c.14 0 .29.01.448.028.168.01.313.028.434.056l-.154 1.134a4 4 0 0 0-.812-.098c-.289 0-.564.06-.826.182a2.214 2.214 0 0 0-.7.518 2.398 2.398 0 0 0-.49.784 3.015 3.015 0 0 0-.168 1.036V15h-1.232V7.496h1.008l.14 1.372h.056c.159-.28.35-.532.574-.756a2.47 2.47 0 0 1 .77-.546c.29-.14.607-.21.952-.21zm8.818 0c.644 0 1.195.14 1.652.42.467.28.821.677 1.064 1.19.252.504.378 1.097.378 1.778v.742h-5.138c.019.85.233 1.498.644 1.946.42.439 1.003.658 1.75.658a5.64 5.64 0 0 0 1.26-.126 7.606 7.606 0 0 0 1.148-.392v1.078c-.383.168-.761.29-1.134.364a6.129 6.129 0 0 1-1.33.126c-.709 0-1.339-.145-1.89-.434a3.085 3.085 0 0 1-1.274-1.288c-.299-.579-.448-1.283-.448-2.114 0-.821.135-1.526.406-2.114.28-.588.667-1.04 1.162-1.358.504-.317 1.087-.476 1.75-.476zm-.014 1.008c-.588 0-1.055.191-1.4.574-.336.373-.537.896-.602 1.568h3.822c0-.43-.065-.803-.196-1.12a1.582 1.582 0 0 0-.602-.742c-.261-.187-.602-.28-1.022-.28zm7.678 6.776c-.933 0-1.68-.322-2.24-.966-.56-.653-.84-1.624-.84-2.912 0-1.288.28-2.259.84-2.912.57-.663 1.321-.994 2.254-.994.392 0 .733.051 1.022.154.29.093.542.224.756.392.215.168.397.355.546.56h.084a12.967 12.967 0 0 0-.056-.532 8.332 8.332 0 0 1-.028-.574V4.36h1.232V15h-.994l-.182-1.008h-.056a2.92 2.92 0 0 1-.546.588 2.607 2.607 0 0 1-.77.406c-.289.103-.63.154-1.022.154zm.196-1.022c.794 0 1.349-.215 1.666-.644.327-.439.49-1.097.49-1.974v-.224c0-.933-.154-1.647-.462-2.142-.308-.504-.877-.756-1.708-.756-.662 0-1.162.266-1.498.798-.326.523-.49 1.227-.49 2.114 0 .896.164 1.591.49 2.086.336.495.84.742 1.512.742zm6.99-6.622V15h-1.232V7.496h1.232zm-.602-2.814c.186 0 .35.065.49.196.149.121.224.317.224.588 0 .261-.075.457-.224.588a.697.697 0 0 1-.49.196.73.73 0 0 1-.518-.196c-.14-.13-.21-.327-.21-.588 0-.27.07-.467.21-.588a.73.73 0 0 1 .518-.196zm5.485 9.45c.187 0 .378-.014.574-.042.196-.037.355-.075.476-.112v.938a1.96 1.96 0 0 1-.56.154c-.243.047-.476.07-.7.07-.392 0-.756-.065-1.092-.196a1.722 1.722 0 0 1-.798-.714c-.205-.336-.308-.807-.308-1.414V8.448h-1.064V7.86l1.078-.49.49-1.596h.728v1.722h2.17v.952h-2.17v4.34c0 .457.107.798.322 1.022.224.215.509.322.854.322zm9.077-2.898c0 .625-.084 1.18-.252 1.666a3.342 3.342 0 0 1-.7 1.218 2.926 2.926 0 0 1-1.106.77c-.43.168-.91.252-1.442.252a3.66 3.66 0 0 1-1.372-.252 3.1 3.1 0 0 1-1.092-.77 3.674 3.674 0 0 1-.728-1.218c-.168-.485-.252-1.04-.252-1.666 0-.83.14-1.53.42-2.1a2.948 2.948 0 0 1 1.204-1.316c.522-.308 1.143-.462 1.862-.462.681 0 1.278.154 1.792.462.522.299.928.737 1.218 1.316.298.57.448 1.27.448 2.1zm-5.67 0c0 .588.074 1.101.224 1.54.158.43.401.76.728.994.326.233.742.35 1.246.35s.919-.117 1.246-.35c.326-.233.564-.565.714-.994.158-.439.238-.952.238-1.54 0-.597-.08-1.106-.238-1.526-.159-.42-.402-.742-.728-.966-.318-.233-.733-.35-1.246-.35-.766 0-1.321.252-1.666.756-.346.504-.518 1.2-.518 2.086zm11.122-3.878c.14 0 .29.01.448.028.168.01.313.028.434.056l-.154 1.134a4 4 0 0 0-.812-.098c-.289 0-.564.06-.826.182a2.214 2.214 0 0 0-.7.518 2.398 2.398 0 0 0-.49.784 3.015 3.015 0 0 0-.168 1.036V15h-1.232V7.496h1.008l.14 1.372h.056c.159-.28.35-.532.574-.756a2.47 2.47 0 0 1 .77-.546c.29-.14.607-.21.952-.21zm7.152-.406c0 .317-.009.616-.028.896a7.91 7.91 0 0 1-.042.644h.07c.215-.317.509-.583.882-.798.374-.215.854-.322 1.442-.322.934 0 1.68.327 2.24.98.57.644.854 1.61.854 2.898 0 .859-.13 1.577-.392 2.156-.252.579-.611 1.013-1.078 1.302-.466.29-1.008.434-1.624.434-.588 0-1.068-.107-1.442-.322a2.76 2.76 0 0 1-.882-.77h-.098l-.252.952h-.882V4.36h1.232v2.59zm2.114 1.442c-.532 0-.952.103-1.26.308-.308.196-.527.504-.658.924-.13.41-.196.938-.196 1.582v.056c0 .924.15 1.633.448 2.128.308.485.873.728 1.694.728.672 0 1.172-.247 1.498-.742.336-.495.504-1.209.504-2.142 0-.943-.168-1.652-.504-2.128-.326-.476-.835-.714-1.526-.714zM224.193 15h-1.232V4.36h1.232V15zm8.902-3.766c0 .625-.084 1.18-.252 1.666a3.342 3.342 0 0 1-.7 1.218 2.918 2.918 0 0 1-1.106.77c-.429.168-.91.252-1.442.252a3.66 3.66 0 0 1-1.372-.252 3.1 3.1 0 0 1-1.092-.77 3.674 3.674 0 0 1-.728-1.218c-.168-.485-.252-1.04-.252-1.666 0-.83.14-1.53.42-2.1a2.948 2.948 0 0 1 1.204-1.316c.523-.308 1.143-.462 1.862-.462.681 0 1.279.154 1.792.462.523.299.929.737 1.218 1.316.299.57.448 1.27.448 2.1zm-5.67 0c0 .588.075 1.101.224 1.54.159.43.401.76.728.994.327.233.742.35 1.246.35s.919-.117 1.246-.35c.327-.233.565-.565.714-.994.159-.439.238-.952.238-1.54 0-.597-.079-1.106-.238-1.526-.159-.42-.401-.742-.728-.966-.317-.233-.733-.35-1.246-.35-.765 0-1.321.252-1.666.756s-.518 1.2-.518 2.086zm10.632 3.906c-.662 0-1.255-.135-1.778-.406-.513-.27-.919-.69-1.218-1.26-.289-.57-.434-1.297-.434-2.184 0-.924.154-1.675.462-2.254.308-.579.724-1.003 1.246-1.274.532-.27 1.134-.406 1.806-.406.383 0 .752.042 1.106.126.355.075.644.168.868.28l-.378 1.022a7.262 7.262 0 0 0-.784-.238 3.464 3.464 0 0 0-.84-.112c-.504 0-.919.107-1.246.322-.326.215-.569.532-.728.952-.158.42-.238.943-.238 1.568 0 .597.08 1.106.238 1.526.159.42.397.737.714.952.318.215.714.322 1.19.322.411 0 .77-.042 1.078-.126a5.22 5.22 0 0 0 .868-.308v1.092c-.252.13-.532.229-.84.294a4.56 4.56 0 0 1-1.092.112zm4.935-5.222c0 .15-.009.345-.028.588-.009.243-.019.453-.028.63h.056c.056-.075.14-.182.252-.322l.336-.42c.121-.15.224-.27.308-.364l2.394-2.534h1.442l-3.038 3.206L247.934 15h-1.484l-2.604-3.5-.854.742V15h-1.218V4.36h1.218v5.558zm11.147 3.01c0 .485-.122.891-.364 1.218-.243.327-.588.574-1.036.742-.448.168-.98.252-1.596.252-.523 0-.976-.042-1.358-.126a4.13 4.13 0 0 1-.994-.35v-1.12c.298.15.658.29 1.078.42.429.121.863.182 1.302.182.625 0 1.078-.098 1.358-.294a.96.96 0 0 0 .42-.812.874.874 0 0 0-.154-.504c-.103-.15-.29-.299-.56-.448a8.4 8.4 0 0 0-1.134-.504 10.719 10.719 0 0 1-1.246-.56c-.346-.187-.612-.41-.798-.672-.187-.261-.28-.597-.28-1.008 0-.635.256-1.125.77-1.47.522-.345 1.204-.518 2.044-.518.457 0 .882.047 1.274.14.401.084.774.205 1.12.364l-.42.98a4.6 4.6 0 0 0-.658-.238 4.336 4.336 0 0 0-.686-.168 3.642 3.642 0 0 0-.714-.07c-.504 0-.892.084-1.162.252-.262.159-.392.378-.392.658 0 .205.06.383.182.532.121.14.322.28.602.42.289.13.672.29 1.148.476.476.177.882.36 1.218.546.336.187.592.415.77.686.177.261.266.593.266.994z' fill='%23696969'/%3E%3Cpath d='M55.73 10.002c0 .43-.052.85-.155 1.26-.093.41-.243.784-.448 1.12a2.692 2.692 0 0 1-.756.798c-.299.196-.653.294-1.064.294-.43 0-.77-.121-1.022-.364a1.62 1.62 0 0 1-.448-.854h-.07a2.284 2.284 0 0 1-.742.868c-.327.233-.737.35-1.232.35-.71 0-1.26-.238-1.652-.714-.383-.476-.574-1.106-.574-1.89 0-.616.121-1.157.364-1.624.243-.476.583-.85 1.022-1.12.448-.27.975-.406 1.582-.406.41 0 .812.037 1.204.112.401.065.714.14.938.224l-.14 2.842c-.01.168-.014.29-.014.364v.14c0 .485.084.807.252.966a.895.895 0 0 0 .616.238c.29 0 .532-.117.728-.35.205-.243.36-.56.462-.952.112-.401.168-.84.168-1.316 0-.868-.177-1.6-.532-2.198a3.44 3.44 0 0 0-1.442-1.386c-.607-.317-1.297-.476-2.072-.476-.793 0-1.498.126-2.114.378a4.271 4.271 0 0 0-1.554 1.064c-.41.457-.723.999-.938 1.624a6.177 6.177 0 0 0-.322 2.044c0 .915.163 1.694.49 2.338a3.36 3.36 0 0 0 1.428 1.456c.635.327 1.41.49 2.324.49.57 0 1.11-.065 1.624-.196.523-.121.985-.257 1.386-.406v.952a7.287 7.287 0 0 1-1.358.406 7.496 7.496 0 0 1-1.652.168c-1.101 0-2.044-.205-2.828-.616a4.277 4.277 0 0 1-1.806-1.764c-.41-.775-.616-1.703-.616-2.786 0-.868.135-1.67.406-2.408.27-.747.663-1.39 1.176-1.932a5.215 5.215 0 0 1 1.862-1.274c.737-.308 1.568-.462 2.492-.462.728 0 1.395.117 2.002.35a4.398 4.398 0 0 1 1.596.994c.457.43.807.952 1.05 1.568.252.616.378 1.311.378 2.086zm-7.07.896c0 .597.116 1.031.35 1.302.242.27.564.406.965.406.523 0 .896-.196 1.12-.588.233-.392.369-.9.406-1.526l.084-1.75a3.865 3.865 0 0 0-1.036-.14c-.457 0-.826.112-1.106.336-.28.224-.48.513-.602.868-.121.345-.182.71-.182 1.092zm86.263-5.894L131.199 15h-1.204l3.724-9.996h1.204z' fill='%23fff'/%3E%3C/svg%3E") !important;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #696969;
  cursor: text;
  opacity: 1 !important;
}

.editorjsDiv {
  margin-right: 270px;
  width: 1000px;
}

.editorjsDiv .ce-toolbar__plus {
  display: none;
}

.ce-popover--opened {
  background: #28272c;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  width: 259px;
  height: 270px;
  border: none;
}

.ce-bud-popup {
  background: #28272c;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  width: 259px;
  height: 270px;
}

.editorjsDiv .ce-toolbar__settings-btn svg {
  color: white;
}

.editorjsDiv .ce-toolbar__settings-btn:hover {
  background-color: transparent;
}

.editorjsDiv .ce-toolbar__actions {
  margin-right: 10px;
}

.editorCover {
  width: 1000px;
  height: 200px;
  background-blend-mode: color, normal, normal, normal;
  border-radius: 8px;
}

.editorIcon {
  width: 72px;
  height: 72px;
  border-radius: 10px;
  background-color: blue;
  margin-right: 850px;
  position: relative;
  bottom: 30px;
}

.EditorOptionsBlock {
  width: 260px;
  height: 270px;
  background: #28272C;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
  border-radius: 12px;
  margin-right: 200px;
  padding: 5px;
  opacity: 0;
  transform: scale(0);
  transition: all 0.1s ease;
  position: absolute;
  z-index: 100;
}

.show{
  opacity: 1;
  transition: all 0.2s ease;
  transform: scale(1);
  /* animation: animation 0.5s ease forwards; */
}

.editorOptionDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.editorOptionDiv{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  max-height: 215px;
  overflow-y: scroll;
}


/* .EditorOptionComponent:hover {
  background-color: #1F1E22;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
} */

.EditorOptionComponent {
  height: 45px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: translateY(10px);
  transition: all 0.4s ease-in-out;
}

.EditorOptionComponent:hover .optionIcon {
  border-color: var(--bg-color);
}

.optionIcon {
  border: 0.5px dashed #747474;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-left: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: #28272C;
}
.hoverMovement {
  position: absolute;
  right: 0;
  left: 0;
  background: #1F1E22;
  height: 45px;
  transition: transform .2s ease;
  transform: translateY(9px);
  z-index: -1;
  border-radius: 12px;
}
.editorOptionDiv{
  position: relative;
  height: 300px;
}
.EditorOptionComponent{
  z-index: 2;
}
