.tree {
  --spacing: 1.5rem;
  /* --radius: 10px; */
  margin-left: -30px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
  margin-top: 7px;
  margin-left: -6px;
}

.tree ul li {
  display: flex;
  border-left: 2px solid cornflowerblue;
  margin-left: 50px;
}

.tree ul li:last-child {
  border-color: transparent;
}
.tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + -6px);
  height: calc(var(--spacing) + 2px);
  border: solid cornflowerblue;
  border-width: 0 0 2px 2px;
  border-radius: 0px 9px;
}
.tree summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 4px;
  margin-right: 10px;
  /* column-gap: 220px; */
}
.showIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.showName {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  /* content: ""; */
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
}
.tree summary::before {
  z-index: 1;
  /* background: #696 url("expand-collapse.svg") 0 0; */
}
.tree details[open] > summary::before {
  background-position: calc(-2 * var(--radius)) 0;
}
/* /////////////////// */
.open .folderTitle {
  background: var(--bud-tertiary-background);
}
details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.right-icon,
.down-icon {
  position: relative;
  left: 11px;
  margin: 0px 3px;
}
.folder-icon {
  margin: 0px 10px;
}
.doc-icon {
  width: 20px;
}
.viewerWrap {
  background: var(--bud-container-background);
  border: 1px solid var(--bud-border-color);
  border-radius: 12px;
  padding: 10px 6px;
  position: absolute;
  width: 220px;
  left: 250px;
  /* bottom: -200px; */
  z-index: 100;
}

.viewerTop {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 18px;
}
.spaceTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorTag {
  width: 14px;
  height: 14px;
  background: var(--bud-primary-color);
  border-radius: 4px;
  margin-right: 20px;
}
.spaceTitle p {
  margin: 0;
}
.addIcon span {
  margin-left: 6px;
}
.spaceTitle .addIcon {
  width: 40px;
  height: 30px;
  background: var(--bud-tertiary-background);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.5s;
}
.addIcon {
  margin-left: 8px;
}
.spaceTitle .addIcon:hover {
  border: 1px solid var(--bud-secondary-text-color);
}
.searchWrap {
  border-radius: 9px;
  background: var(--bud-tertiary-background);
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 10px;
}
.searchWrap .icons {
  width: 16px;
  flex-shrink: 0;
  margin-right: 10px;
}
.searchWrap input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}
.listWrap {
  max-height: 300px;
  overflow-y: scroll;
}
.folder {
  margin-bottom: 10px;
}
.folderTitle {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  margin-left: 60px;
}
.open .folderTitle {
  background: var(--bud-tertiary-background);
}
.folderTitle .openIcon {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid var(--bud-icon-color);
  border-bottom: 5px solid transparent;
  margin-right: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.open .folderTitle .openIcon {
  transform: rotate(90deg);
}
.folderTitle .folderIcon {
  margin-right: 7px;
  display: flex;
  align-items: center;
}
.folderTitle .folderIcon svg {
  color: var(--bud-primary-text-color);
}
.folderTitle p {
  margin: 0;
  width: calc(100% - 60px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 10px;
}
.folderTitle input {
  width: calc(100% - 60px);
  border: none;
  outline: none;
  background: transparent;
  color: white;
}
.folderTitle .addIcon {
  color: var(--bud-secondary-text-color);
  margin-right: 7px;
  cursor: pointer;
}
.folderTitle .addIcon:hover {
  color: var(--bud-primary-text-color);
}
.folderTitle .actionIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.folderTitle .actionIcon:hover svg {
  color: var(--bud-primary-text-color);
}
.folderList {
  padding: 25px 0 10px;
}
.fileItem {
  display: flex;
  align-items: center;
  padding: 5px 10px 7px 45px;
  /* position: relative; */
}
.fileItem::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 40px;
  border-bottom: 1px solid var(--bud-secondary-text-color);
  border-left: 1px solid var(--bud-secondary-text-color);
  left: 30px;
  top: -24px;
  border-radius: 0 0 0 6px;
}
.fileItem svg {
  flex-shrink: 0;
  margin-right: 7px;
}
.fileItem.active svg {
  color: var(--bud-primary-text-color);
}
.fileItem p {
  margin: 0;
  color: var(--bud-secondary-text-color);
}
.fileItem.active p {
  color: var(--bud-primary-text-color);
}
.main {
  width: 300px;
  height: auto;
  border-radius: 14px;
  border: 1px solid #1d1d1d;
  padding: 21px, 16px, 21px, 16px;
  gap: 55px;
  /* background-color: #0c0c0c; */
  color: #fff;
  margin: 40px;
}
.file-name,
.folder-name {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #7b8388;
}
.folder-name {
  color: #fff;
}
