@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.App-logo {
  height: 30px;
  background: rgba(255, 255, 255, 0.575);
  margin: 15px;
}
.ant-breadcrumb-link{
  display: flex;
  align-items: center;
}
.ant-dropdown-trigger .ant-breadcrumb-link{
  display: inline-block;
}
.ant-layout{
  overflow: auto;
}
.ant-layout-sider{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.ant-menu-item{
  margin-left: 0 !important;
}