/* Dashboard index page */
.main-layout {
  background-color: var(--primary-bgc);
  height: 100vh;
}

.site-layout {
  background: var(--primary-bgc-light) !important;
  border-radius: 30px;
  box-shadow: 0 0 0 1px var(--light-gray);
  margin: 20px 20px 20px 1px;
}

.ant-layout-sider-children {
  display: flex;
  height: 100%;
  justify-content: space-around;
  /* flex-direction: column; */
}

.site-layout-content {
  position: relative;
  background: var(--primary-bgc-light) !important;
  color: var(--white-color);
  padding: 20px;
  margin: 0;
  border-radius: 0 !important;
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  overflow-y: auto;
}

.site-layout-common-menu {
  position: absolute;
  bottom: 2%;
  right: 42%;
  width: min(150px, 100%);
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-bgc-2);
  border-radius: 20px;
  padding: 0 8px;
  border: 2px solid var(--bud-border-color);
  /* z-index: 1000; */
}

/* Header */

.site-layout-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0;
  background: var(--primary-bgc-light);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom: 1px solid var(--light-gray);
}

.slider-box {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 32px;
}

.slide-arrow,
.slide-arrow-active {
  z-index: 10;
  margin-left: -31px;
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
}

.slide-arrow-active {
  transform: rotate(-180deg);
}

.controls-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 0 0;
}

.controls-box-path {
  width: fit-content;
  max-width: 450px;
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  /* background-color: var(--primary-bgc-2); */
  border-radius: 6px;
  padding: 0 7px;
  color: #7B8388;
}

.controls-box-right-box {
  width: auto;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-bgc-3);
  border-radius: 6px;
  padding: 0 7px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.controls-switch-box {
  display: flex;
  width: 135px;
  height: auto;
  align-items: center;
  margin-left: 35px;
}

.controls-switch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background: #25272b;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.24);
  display: grid;
  place-items: center;
  cursor: pointer;
  margin-right: 18px;
}

.controls-switch:hover {
  background-color: var(--primary-bgc-2) !important;
}

.controls-switch-name {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #959393;
}

.controls-box-right-box p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
}

/* Sidebar */

.main-sidebar {
  /* min-width: 400px; */
  height: 100vh;
  transition: all 0.3s;
}

.sideBarItems {
  display: flex;
  height: 100%;
  flex-direction: column !important;
}

.sidebarMenu {
  display: flex;
  height: 100%;
  flex-direction: column !important;
}

.main-sidebar,
.main-sidebar-menu-1,
.main-sidebar-menu-2,
.main-sidebar-menu-3 {
  background-color: var(--primary-bgc) !important;
}

.main-sidebar-menu-1 {
  margin-top: 32px;
}

.main-sidebar-menu-2 {
  /* max-height: 40%;
  margin-top: 65%; */
  /* margin-top: -230px; */
}

.main-sidebar-menu-3 {
  /* position: absolute;
  top: 85.5vh; */
  background-color: var(--primary-bgc) !important;
}

.sidebarMenuTop {
  display: flex;
  height: 100%;
  flex-direction: column !important;
  justify-content: space-between;
  margin-top: 70px;
}

.sidebar-menu-items,
.sidebar-menu-items-active {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: var(--bud-primary-text-color);
  text-decoration: none;
  width: 180px;
  border-radius: 0 !important;
}

.sidebar-menu-items::before {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: linear-gradient(90deg,
      rgba(144, 104, 253, 0.2) 10%,
      rgba(144, 104, 253, 0) 100%) !important;
  width: 0% !important;
  transition: all 0.5s !important;
}

.sidebar-menu-items:hover::before {
  width: 100% !important;
}

.sidebar-menu-items-active::before {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: linear-gradient(90deg,
      rgba(144, 104, 253, 0.2) 0%,
      rgba(144, 104, 253, 0) 90%) !important;
  border-left: 3px solid transparent !important;
  border-left-color: var(--bud-primary-color) !important;
  width: 100% !important;
  transition: all 1s !important;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  padding: 20px 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--light-gray-200);
  margin-top: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.main-sidebar-menu-ws-box {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  overflow: scroll;
  animation: fadeIn .5s;
  overflow-x: hidden;
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(37, 39, 43);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.sidebar-work-spaces {
  background: #060507;
  border-radius: 0 !important;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #161616;
  /* border-top: 0.052083333333333336vw solid var(--light-gray-50);
  border-bottom: 0.052083333333333336vw solid var(--light-gray-50); */
}

.sidebar-work-spaces-box {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.sidebar-workspaces-items {
  border-left: 3px solid transparent !important;
  min-height: 36px !important;
}

.sidebar-workspaces-items-active {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: var(--bud-primary-text-color);
  text-decoration: none;
  width: 180px;
  border-radius: 0 !important;
  border-left: 3px solid transparent !important;
  border-left-color: var(--menuColor) !important;
}

.sidebar-workspaces-items::before {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: linear-gradient(90deg,
      var(--menuHoverColorOnLeave) 10%,
      rgba(144, 104, 253, 0) 100%) !important;
  width: 0% !important;
  transition: all 0.5s !important;
}

.sidebar-workspaces-items:hover::before {
  width: 100% !important;
  background: linear-gradient(90deg,
      var(--menuHoverColor) 10%,
      rgba(144, 104, 253, 0) 100%) !important;
  opacity: 0.2;
  /* background-color: red; */
}

.sidebar-workspaces-items-active::before {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: linear-gradient(90deg,
      var(--menuColor) 0%,
      rgba(144, 104, 253, 0) 90%) !important;
  opacity: 0.2;
  border-left: 3px solid transparent !important;
  border-left-color: var(--menuColor) !important;
  width: 100% !important;
  transition: all 1s !important;
}

.sidebar-work-spaces-box a {
  color: var(--light-gray-300) !important;
}

.sidebar-work-spaces-box-p {
  font-size: 12px;
  color: var(--white-color);
  z-index: 1;
  transition: all 0.3s;
  margin-right: 5px;
}

.sidebar-work-spaces-box-p:hover {
  transform: scale(1.1);
}

.workspace-add {
  width: min(140px, 100%);
  height: min(40px, 100%);
  display: flex;
  padding: 10px;
  align-items: center;
  position: absolute;
  right: 0%;
  /* bottom: -80%; */
  z-index: 2;
  border-radius: 5px;
  background: linear-gradient(100deg,
      rgba(144, 104, 253, 0.2) 100%,
      rgba(144, 104, 253, 0) 100%) !important;
}

.workspace-add input {
  width: min(140px, 100%);
  padding: 2px;
}

.workspace-add-color {
  max-width: 24px;
  min-height: 14px;
  border: none;
  margin-right: 5px;
}

.sidebar-menu-userprofile-menu {
  background-color: #060507;
}

.sidebar-inline-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar-inline-box-count {
  position: absolute;
  width: 18px;
  height: 14px;
  left: 35px;
  top: 0px;
  background: #ff6960;
  border-radius: 4.28003px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-inline-box-count span {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11.0938px;
  line-height: 151.5%;
  /* identical to box height, or 17px */
  text-align: center;
  /* white */
  color: #ffffff;
}

.sidebar-ws-fvrt {
  margin-top: 10px !important;
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  position: relative;
}

.sidebar-menu-userprofile {
  background-color: #060507 !important;
  margin-bottom: 32px !important;
}

.sidebar-menu-userprofile-profile {
  border: 1px solid rgba(210, 207, 207, 0.418);
  border-radius: 50px;
  padding: 2px;
}

.sidebar-menu-userprofile-box {
  max-width: 120px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px;
  color: white;
}

.sidebar-menu-userprofile-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-menu-userprofile-details h1 {
  font-size: 14px;
  font-weight: 400;
  max-height: 12px !important;
}

.controls-box-right-box p {
  color: #ffffff;
  padding-left: 10px;
  border-left: 2px solid #212023;
}

.main-sidebar-profile-menu {
  background-color: var(--primary-bgc) !important;
  margin-top: 400px;
}

.sidebar-menu-userprofile {
  /* min-height: 50px !important;
  margin-top: 70px !important; */
}

.sidebar-menu-userprofile-profile {
  border: 1px solid rgba(210, 207, 207, 0.418);
  border-radius: 50px;
  padding: 2px;
}

.sidebar-menu-userprofile-box {
  max-width: 120px;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px;
}

.sidebar-menu-userprofile-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar-menu-userprofile-details h1 {
  font-size: 14px;
  font-weight: 400;
  max-height: 12px !important;
}

.sidebar-menu-userprofile-details p {
  font-size: 12px;
  font-weight: 400;
  color: var(--bud-secondary-text-color);
}

.view-more {
  background: #121213;
  border-radius: 3px;
  width: 30px;
  height: 16.77px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  margin-left: 24px;
  margin-top: 20px;
}

.view-more:hover {
  background: #25272b;
}

.pointBox{
  width: 23px;
height: 22.8px;
display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
background: #212023;
border-radius: 6px;

}

/* [contenteditable] {padding:12px; background:#eee; } */