.table-wrapper {
  width: 1151px;
  border-radius: 12px;
  border: 0.5px dashed #2f2f2f;
  background: #101010;
  padding: 10px 10px 13px 10px;

  transition: border 0.5s linear;
  margin: auto;
}

.table-wrapper:hover{
  border: 0.5px dashed #939AFF;
}

.table-wrapper:hover .table-drag-button{
  opacity: 1;

}

/*.table-wrapper:hover .table-drag-button{*/
/*  background: #939AFF;*/
/*}*/

.table-drag-button{
  width: 18px;
  height: 18px;
  background: #939AFF;
  border-radius: 50px;
  margin-left: 515px;
  /* margin-right: auto; */
  margin-top: 3px;
  cursor: all-scroll;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: space-evenly;
  align-items: center;
  position: absolute;

  opacity: 0;
  transition: opacity 0.5s linear;

}

.table-drag-button svg{

  width: 9px;
  height: 9px;
  fill: #101010;
}

.table-drag-button:hover ~ .table-wrapper{
  border: 0.5px dashed #939AFF;
}

.table-wrapper > div:first-child {
  border-radius: 5px;
}

.table-add-column{
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
}

.table-column-virtalbar{
  width: 2px;
  height: 19px;
  background: #F9D45D;
  margin-right: 4px;
  border-radius: 5px;
}

.table-add-column-button{
  border-radius: 2px;
  background: rgba(217, 217, 217, 0.05);

  font-size: 14px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: text;
  padding: .5px;
  color: #BBB;
}

.table-add-column-button:focus{
  color: #FFF;
}

.table-add-column-button:empty:before{
  content: "Add Column";
  cursor: text;
  color: #BBB;
}

.dvn-spacer{
  -webkit-box-flex: 0 !important;
  -webkit-flex-grow: 0 !important;
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}
