.viewContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1B1C1E;
    padding: 8px 0;
    &-inner{
        display: flex;
        background: #25272B;
        // padding: 0 10px;
        border-radius: 6px;
    }
    button{
        border: 0;
        padding: 4px 12px;
        border-radius: 6px;
        color: #BBBBBB;
        cursor: pointer;
        background: transparent;
        &.active{
            background: #3C3C49;
        }
    }
}