.treeViewContainer {
}

.treeLiItem {
  cursor: pointer;
}

.treeViewList {
  list-style: none;
}

.treeList {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

.treeChildLabelUl {
  position: relative;
  list-style: none;
}

.treeChildLabelUl::before {
  content: '';
  position: absolute;
  border-left: 2px solid white;
  height: 80%;
  left: 5px;
}
.treeList:not(.first)::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  left: 1px;
  background-color: transparent;
  border: 2px solid;
  border-color: transparent transparent white transparent;
  border-radius: 0px 0px 0px 25px;
  margin-bottom: 15px;
}

.folderImgContainer {
  margin-left: 10px;
  margin-top: 5px;
}

.treeLabel {
  margin-left: 8px;
  margin-top: 5px;
}
.arrow {
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in;
}
.active {
  transform: unset;
}

.plus {
  background: #151517;
  font-size: 25px;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 73%;
  width: 26px;
  height: 26px;
  margin-top: 5px;
  /* padding: 8px; */
}

.activeList {
  color: red;
}

.treeLabel {
  color: white;
}

.treeChildLabel {
  margin-left: 30px;
}
.treeChildLabel.show {
}
.addNew {
  visibility: hidden;
}
.item-wrapper:hover .addNew {
  visibility: visible;
}
.item-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
}
.item-label-wrapper {
  margin-left: 10px;
}
.item-action-wrapper {
  margin-left: auto;
}
.item-collaps-arrow {
  min-width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin-left: 10px;
}
.item-action-wrapper {
  padding-left: 10px;
}
.addNew {
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  width: 26px;
  height: 26px;
  font-size: 20px;
}

.item-label-input {
  background-color: rgba(217, 217, 217, 0.05);
  border: none;
  caret-color: #f9d45d;
  color: #c6c6c6;
  border-radius: 2px;
  height: 20px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
}
.treeViewContainerDocInputWrapper {
  width: 180px;
  height: 30px;
  /* background: red; */
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.treeViewContainerDocInput {
  width: 120px;
  height: 20px;
  background: #101010;
  border-radius: 2px;
  text-align: left;
  color: #bbbbbb;
  outline: none;
  border: none;
  margin-left: 15px;
}
