.topBarWrap{
    border-bottom: 1px solid var(--bud-border-color);
    padding: 18px;
    display: flex;
    justify-content: space-between;
}
.optionsWrap{
    border: 1px solid var(--bud-border-color);
    border-radius: 9px;
    display: flex;
}
.favicon{
    padding: 5px 10px;
    border-right: 1px solid var(--bud-border-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 9px 0 0 9px;
}
.favicon:hover{
    background: var(--bud-tertiary-background);
}
.favicon svg{
    color: var(--bud-primary-text-color);
}
.share{
    padding: 5px 15px;
    border-right: 1px solid var(--bud-border-color);
    cursor: pointer;
}
.share:hover{
    background: var(--bud-tertiary-background);
}
.moreOption{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0 9px 9px 0;
}
.moreOption:hover{
    background: var(--bud-tertiary-background);
}
.moreOption svg{
    color: var(--bud-primary-text-color);
}