body {
  margin: 0;
  --selected-color:linear-gradient(270deg, rgba(149, 154, 236, 0.26) 0%, rgba(0, 0, 0, 0) 89.29%);
  --bg-color:#000000;
  --content-color:#242424
}
.ant-layout-sider{
  background:var(--bg-color) !important;
}
:where(.css-dev-only-do-not-override-b11g6e).ant-menu-dark {
  background:var(--bg-color) !important;  
}
.ant-menu-item{
  background:var(--bg-color) !important;  
}
.ant-layout-content {
  margin:0.5208333333333334vw;
  background:var(--content-color) !important; 
  border-radius:1.015296875vw !important;   
}
.ant-layout-sider {
}
.ant-layout-sider-trigger{
  background:var(--bg-color) !important; 
}
.ant-layout{
  background:var(--bg-color) !important;  
}
.ant-layout-sider-has-trigger{
  min-width:12.552083333333334vw !important;
}
.ant-layout-sider-collapsed {
  min-width:4.552083333333334vw !important;
}